/* Write your CSS here! */
body{
    margin: 8px;
    text-align: center;
    background-color: blanchedalmond;
    display: block;
    
}   

h1, h2{
    text-align: center;
}

#mainHeading{
    color: red;
}

.funParagraph{
    color: green;
}

img{

}
